<form class="form-delete" method="post" action="{{ path('app_category_crud_delete', {'id': category.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer la catégorie</button>
</form>
