{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="main-header d-flex justify-content-between align-items-center">
        <h1 class="title">Liste des projets</h1>
        <a href="{{ path('app_project_crud_new') }}" class="btn btn-sm btn-primary d-inline-block">Créer un nouveau projet</a>
    </div>
    <div class="container-main">
        <div class="main-sub-header">
            <twig:MainSearch :searchDto="searchDto"></twig:MainSearch>
        </div>
        <twig:ProjectCards :searchDto="searchDto" :request="request"></twig:ProjectCards>
    </div>

{% endblock %}
