<form class="form-delete" method="post" action="{{ path('app_project_crud_delete', {'id': project.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer le projet</button>
</form>
