{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="main-header"><h1 class="title">Liste des projets</h1></div>
    <div class="main-container">
        <div class="main-sub-header">
            <twig:MainSearch :searchDto="searchDto"></twig:MainSearch>
        </div>
        <twig:ProjectCards :searchDto="searchDto" :request="request"></twig:ProjectCards>
    </div>

    <a href="{{ path('app_project_crud_new') }}">Create new</a>
{% endblock %}
