.search-input {
    max-width : 400px;
    min-width : 275px;
}

label {
    white-space : nowrap;
}

form:not([name='feature']) {
    width           : 100%;
    display         : flex;
    justify-content : flex-end;
}

form[name='feature'] {
    border  : 1px solid rgba($grey-light, .5);
    padding : $space-base;
}

form[name='feature'] {
    flex-direction : column;
}

.form-check-input:checked {
    background-color : $primary;
    border-color     : $primary;
}

.form-check-input:focus {
    box-shadow : none;
}

form[name='project'], form[name='feature'] {
    justify-content : unset;
    flex-direction  : column;

    textarea, select, input {
        padding          : $space-xsmall;
        background-color : #f9f9f9;
        border           : 1px solid rgba($grey-light, 0.5);
    }

    textarea {
        width      : 100%;
        min-height : 150px;
    }

    button.btn {
        width       : fit-content;
        margin-left : auto;
    }
}

.form-delete {
    width : fit-content;

    button {
        width : fit-content;
    }
}

.btn-delete {
    white-space : nowrap;
}