.search-input {
    max-width : 400px;
    min-width : 275px;
}

label {
    white-space : nowrap;
}

form {
    width           : 100%;
    display         : flex;
    justify-content : flex-end;
}

.form-check-input:checked {
    background-color : $primary;
    border-color     : $primary;
}

.form-check-input:focus {
    box-shadow : none;
}