*, *::before, *::after {
    box-sizing : border-box;
}

html, body {
    background-color : $white;
    font-size        : $font-small;
}

.container {
    &-main {
        height   : calc(100vh - 4.5em);
        overflow : auto;
        padding  : $space-2xl;
        width    : 100%;
    }

    &-action {

    }
}

.main-header {
    border-bottom  : .5px solid $grey;
    padding-inline : $space-2xl;

    .title {
        margin-block : $space-medium;
        font-size    : $h3-font-size;
    }
}

@for $i from 10 through 200 {
    .min-width\[#{$i + "px"}\] {
        min-width: #{$i}px;
    }
}
