td {
    vertical-align : middle;
}

.td-action {
    width : 100px;

    > span {
        width : fit-content;
    }
}

tr > th:first-child {
    padding-left : 90px;
}

tr > td:not(:first-child) {
    padding-inline : $space-xsmall;
}