{#  MODAL DELETE category #}
<div class="modal fade" id="modalDeleteFeature-{{ feature.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Supression de fonctionnalité</h1>
            </div>
            <div class="modal-body">
                <p> Vous êtes sur le point de supprimer la fonctionnalité <span class="fw-bold">{{ feature.name }}</span>!
                </p>
                <p class="my-3 text-danger">
                    <span class="fw-bold">ATTENTION !</span>
                    <br>
                    <span class="fw-medium">La suppression est définitive et toutes les données relatives à la fonctionnalité seront définitivement perdues</span>!
                </p>
                <p>Voulez-vous continuer ?</p>
            </div>
            <div class="modal-footer d-flex">
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Annuler</button>
                {{ include('crud/feature/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
