{% extends 'base.html.twig' %}

{% block title 'Liste des projets' %}

{% block body %}
    <div class="main-header"><h1 class="title">Liste des projets</h1></div>
    <div class="main-container">
        <div class="main-sub-header">
            <twig:MainSearch :searchDto="searchDto"></twig:MainSearch>
        </div>
        <twig:ProjectCards :searchDto="searchDto"></twig:ProjectCards>
    </div>
{% endblock %}
